/* Universal Styles */
html{
    font-size: 16px;
}

.container{
   padding: 0 1.5rem; 
   margin: auto auto;
   
}
/* Navigation Section */
nav{
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2rem auto;
    
    background-color: white;
    width: 100%; 
    
}
nav .container{
    height: 4rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between
    

}
nav .logo p{

}
nav .logo span{
    font-weight: bold;
}

nav .logo{
    display: flex;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: -.1rem;
}
nav .logo img{
    height: auto;
    width: 2.5rem;
    
}
nav .desktop-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
nav ul li{
    margin-right: 1rem;
    font-size: 1.1rem;
    transition: all 1s ease 200ms;
}
nav ul li a{
    transition: all .3s ease 120ms;
}
nav ul li a:link{
    color: #000;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    color: #1FABD6;
}
.mobile-nav{
    display: none;
}
.space{
    height: 2rem;
    background-color: gray;
    margin: 2rem;
}
/* Banner Section Styles */


.container .banner{
    background-color: grey;
    margin: auto auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between
    
   
}
.container .banner img{
    padding: 2rem auto;
    width: 58%;
}
.banner .learn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    margin-top: 5rem;
    line-height: 3rem;
    font-size: 3rem;
    padding: 4rem;
}
.banner .learn button{
    width: 100%;
    background-color: rgb(128, 0, 32);
    color: black;
    padding: 1rem;
    font-size: 1rem;
    transition: all .5s ease-in-out 100ms;
    font-weight: bold;
}
.learn button:hover{
    background-color: white;
    font-weight: bolder;
    color: #1FABD6;
    
}

/* Main Section Styles */
section#articles {
    background-color: #C0BCBA;
}
#articles .container {
    display: flex;
    padding: 2rem;
    background-color: blue:
  }
  .featured {
    width: 60%;
    flex: 0 1 auto;
    margin-right: 1.5rem;
  }
  .featured .featured-copy h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  .featured .featured-copy .auth{
      font-style: italic;
      font-weight: bold;
  }
  .featured a:hover > .featured-copy > h3 {
    border-bottom: 2px solid #333333;
  }
  .featured-copy {
    width: 95%;
  }
  .featured img {
    width: 100%;
  }
  .featured h3 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    display: inline-block;
  }
  .featured p {
    padding-top: 1.5rem;
  }
  .featured p:last-child {
    padding: 2rem 0;
    font-size: 0.85rem;
  }
  .article-list {
    width: 40%;
    margin-top: -1rem;
    flex: 1 0 auto;
  }
  .article-block a {
    display: flex;
    text-decoration: none;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .5s ease 120ms;
  }
  .article-block a:hover{
    background-color: rgba(128, 128, 128, 0.3);
  }
  
  .article-block img {
    width: 35%;
    margin: 1rem;
  }
  
  .article-copy {
    max-width: 50%;
    color: black;
  }
  .article-copy * {
    padding: 5px 0;
  }
  .article-block a .article-copy .read-more {
    color: #050404;
    border-bottom: 1px solid transparent;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    transition: all .5s ease 120ms;
  }
  .article-block a:hover > .article-copy .read-more {
    color: #1FABD6;
    border-bottom: 1px solid #1FABD6;
  }
    
.mobile-article-img{
    display: none;
}
/* Courses Section */
.courses .container h2{
    margin: 2rem auto;
    text-align: center
}
/* Thesis Section Styles */
.thesis .container h2{
    margin: 2rem auto;
    text-align: center;
}

/* Footer Styles */
footer{
    border-top: 1px solid black;
}
footer .container{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 2rem auto;
}
footer a{
    display: inline-flex;
    margin-left: 1rem;
    transition: all .3s ease 120ms;
}
.foot-link{
    color: #6D6565;
    text-decoration: none;
}
footer a:hover{
    color: #1FABD6;
    text-decoration: underline;
}
