/* Universal Styles */
html{
    font-size: 16px;
}

.container{
   padding: 0 1.5rem; 
   margin: auto auto;
   max-width: 1440px;
   
}
h3{
    font-size: 2rem;
    
    
    
}
.container h3{
    padding: 2rem;
    font-family: 'Germania One';
    font-style: normal;
    font-weight: 400;
}
@media only screen and (max-width: 954px) {
    .container {
      padding: 0 1rem;
    }
  }
/* Font Faces */
@font-face {
    font-family: 'Germania One';
    font-style: normal;
    font-weight: 400;
    src: local('Germania One'), local('GermaniaOne-Regular'), url(https://fonts.gstatic.com/s/germaniaone/v4/3_6AyUql_-FbDi1e68jHdBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v14/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v14/bH7276GfdCjMjApa_dkG6ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
/* Navigation Section */
nav{ 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2rem auto; 
    background-color: white;
    width: 100%;
}
nav .container{
    height: 4rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between
}
nav .logo span{
    font-weight: bold;
    color: #1FABD6
}
nav .logo p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
}
nav .logo{
    display: flex;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: -.1rem;
}
nav .logo img{
    height: auto;
    width: 2.5rem;
    
}
nav .desktop-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D6565
    

}
nav ul li{
    margin-right: 1rem;
    font-size: 1.1rem;
    transition: all 1s ease 200ms;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    
}
nav ul li a{
    transition: all .3s ease 120ms;
}
nav ul li a:link, a:visited{
    color: #6D6565;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    color: #1FABD6;
}
.mobile-nav{
    display: none;
}
.space{
    height: 2rem;
    background-color: gray;
    margin: 2rem;
}
@media only screen and (max-width: 775px) {
    nav .logo a img  {
      width: 2rem;
    }
  
    nav .logo, p, ul.desktop-nav {
      display: none;
    }
  
    nav.container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }
  
    nav .container .logo {
      flex: 1 0 auto;
    }
  
    .mobile-nav {
      display: flex;
      align-items: flex-end;
      width: 50%;
      justify-content: space-between;
      flex: 1 0 auto;
    }
  
    .mobile-nav li a img {
      width: 2rem;
    }
  }
/* Banner Section Styles */


.container .banner{
    background-color: #f7f7f7;
    margin: auto auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between
    
   
}
.container .banner img{
    padding: 2rem auto;
    width: 58%;
}
.banner .learn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    margin-top: 5rem;
    line-height: 3rem;
    font-size: 3rem;
    padding: 4rem;
}
.banner .learn button{
    width: 100%;
    background-color: rgb(128, 0, 32);
    color: black;
    padding: 1rem;
    font-size: 1rem;
    transition: all .5s ease-in-out 100ms;
    font-weight: bold;
}
.learn button:hover{
    background-color: white;
    font-weight: bolder;
    color: #1FABD6;
    
}
.mobile-learn{
    display: none;
}
@media only screen and (max-width: 775px){
    .container .learn{
        display: none;
    }
    .container .banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container .banner img{
        width: 100%;
        padding-bottom: 2rem;
    }
    .mobile-learn{
        display: block;
        color: #000;

    }
}

/* Main Section Styles */
section#articles {
    background-color: rgba(0, 0, 0, 0.1);
}
#articles .container {
    display: flex;
    padding: 2rem;
    background-color: blue:
  }
  .featured {
    width: 60%;
    flex: 0 1 auto;
    margin-right: 1.5rem;
  }
  .featured .featured-copy h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 0 0 0;
  }
  .featured .featured-copy .auth{
      font-style: italic;
      font-weight: bold;
  }
  .featured a:hover > .featured-copy > h3 {
    border-bottom: 2px solid #333333;
  }
  .featured-copy {
    width: 95%;
  }
  .featured img {
    width: 100%;
  }
  .featured h3 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    display: inline-block;
  }
  .featured p {
    padding-top: 1.5rem;
  }
  .featured p:last-child {
    padding: 2rem 0;
    font-size: 1rem;
  }
  .article-list {
    width: 40%;
    margin-top: -1rem;
    flex: 1 0 auto;
  }
  .article-block a {
    display: flex;
    text-decoration: none;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .5s ease 120ms;
  }
  .article-block a:hover{
    background-color: rgba(128, 128, 128, 0.3);
  }
  
  .article-block img {
    width: 35%;
    margin: 1rem;
  }
  
  .article-copy {
    max-width: 50%;
    color: black;
  }
  .article-copy * {
    padding: 5px 0;
  }
  .article-block a .article-copy .read-more {
    color: #050404;
    border-bottom: 1px solid transparent;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    transition: all .5s ease 120ms;
  }
  .article-block a:hover > .article-copy .read-more {
    color: #1FABD6;
    border-bottom: 1px solid #1FABD6;
  }
    
.mobile-article-img{
    display: none;
}

@media only screen and (max-width: 954px) {
    
      #articles .container {
        padding: 0;
      }
    
      #articles .featured {
        display: none;
      }
    
      .article-list  {
        margin-top: -2rem;
      }
    
      .article-block:nth-child(2n + 0) {
        margin: 2rem 0;
      }
    
      .article-block a {
        border: 0;
        padding: 2rem;
        margin-top: 2rem;
        flex-flow: column;
        align-items: flex-start;
      }
    
      .desktop-article-img {
        display: none;
      }
    
      .mobile-article-img  {
        display: block;
      }
    
      .article-block img {
        margin: 0;
        width: 100%;
      }
    
      .article-copy {
        margin: 1rem 0 0 1rem;
      }
    }
    
/* Courses Section */
#learning {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  #learning h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .courses-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 3rem;
  }
  
  .course-block {
    margin: 1rem;
    flex: 1 0 30.3333%;
    background-color: white;
  }
  
  .course-block a {
    text-decoration: none;
    display: block;
    height: 100%;
  }
  
  .course-block a:hover {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
  }
  
  .course-block img {
    width: 100%;
  }
  
  .course-block-copy {
    padding: 1rem;
  }
  
  .course-block-copy p span {
    display: inline-block;
    margin: 8px 0;
  }
  
  @media only screen and (max-width: 775px) {
    #learning img {
      display: none;
    }
  
    .courses-grid {
      flex-flow: column wrap;
      padding: 0;
    }
  
    .course-block-copy p {
      display: none;
    }
  
    .course-block {
      margin: .25rem 0rem;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  
/* Thesis Section Styles */
#thesis h3 {
    text-align: center;
    display: block;
    margin-bottom: 2rem;
  }
  
  #thesis .container {
    
    background-color: rgba(0, 0, 0, 0.1);
  }
  #thesis .containert{
      display: flex;
  }
  
  video {
    width: 100%;
  }
  
  @media only screen and (max-width: 954px) {
    section#thesis  {
      padding-bottom: 1.5rem;
    }
  
    #thesis > h3 {
      margin-bottom: 1rem;
    }
  
    #thesis .article-list {
      display: none;
    }
  
    #thesis .featured {
      width: 100%;
      padding: 0;
    }
  
    #thesis .featured-copy {
      display: none;
    }
  }
  

/* Footer Styles */
footer{
    border-top: 1px solid black;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    
}
footer .container{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 2rem auto;
}
footer a{
    display: inline-flex;
    margin-left: 1rem;
    transition: all .3s ease 120ms;
}
.foot-link{
    color: #6D6565;
    text-decoration: none;
}
footer a:hover{
    color: #1FABD6;
    text-decoration: underline;
}
@media only screen and (max-width: 775px) {
.foot-link{
    display: none;

}
}
